.comment-container{
	margin-bottom: rem(25px);
}
.comment-header{
	background: #ddd;
	padding: rem(8px) rem(15px);
}
.comment-body{
	margin: 0;
	border: rem(1px) solid #ddd;
}
.form-comment{
	padding-top: rem(10px);
	padding-bottom: rem(10px);
	min-height: rem(100px);
	resize: none;
}
.comment-footer .btn{
	margin-top: rem(15px);
	display: inline-block;
}
.comment-text{
	margin: rem(10px);
}
